<div class="post-div">
    <h3><%= link_to post.title, user_post_path(post.author, post) %> # <%= post.id %></h2>
    <h5> <%= post.text %></h5>
    <p>Comments: <%= post.commentsCounter || 0 %> ,  Likes: <%= post.likesCounter || 0 %></p>
</div> 
