<!DOCTYPE html>
<html>
<head>
<link data-turbolinks-track="true" href="/assets/post.css?body=1" media="all" rel="stylesheet"/>
</head>
<body>
<div class="post-detail">
    <div class="post-title">
        <h3>Post #<%= @post.id %> by <%= link_to @post.author.name, user_path(@post.author) %></h3>
        <span>Comments: <%= @post.commentsCounter %>, Likes: <%= @post.likesCounter %></span>
        <% if can? :destroy, @post %>
  <%= button_to 'Delete', user_post_path(@post.author, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
    </div>
    <p> <%= @post.text %> </p>

    <div>
        <%= form_with model: [@current, @post, Like.new] do |f| %>
            <%= f.submit "Like post" %>
        <% end %>
        <%= link_to "Add Comment", new_user_post_comment_path(@post.author, @post) %>
    </div>
</div>

<%= render partial: "shared/comments", locals: { comments: @post.comments} %>
</body>
</html>